@charset "UTF-8";
@import url(reset.css);
@import url(swiper.css);
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* common */
body {width:100%; position:relative;}
section {width:100%; height:100%;}
section,.section {position:relative; width:100%;}
*, ::after, ::before {border-style:solid; border-width:0; box-sizing:0;}
.parallax-window {
    min-height: 400px;
    background: transparent;
}

/* images */
#about .abt_vid #MyVideo  {background:url(http://gonylab8.speedgabia.com/hohoyongdam/temp/thumbnail/exterior.jpg) no-repeat 50% 50%; background-size:contain;} 
#rooms .rooms_vid #MyVideo {background:url(http://gonylab8.speedgabia.com/hohoyongdam/temp/thumbnail/rooms.jpg) no-repeat 50% 50%; background-size:contain;} 
#special .sp_visual #MyVideo {background:url(http://gonylab8.speedgabia.com/hohoyongdam/temp/thumbnail/special.jpg) no-repeat 50% 50%; background-size:contain;}  
#reserve #Banner {background:url(https://gonylab8.speedgabia.com/hohoyongdam/banner/2.jpg) no-repeat 50% 50%; background-size:cover;}
#community #Banner {background:url(https://gonylab8.speedgabia.com/hohoyongdam/banner/1.jpg) no-repeat 50% 50%; background-size:cover;}
#MyVideo {position:absolute; top:50%; left:50%; transform:translate3d(-50%, -50%, 0); min-width:100%; min-height:100%;}

/* header */
.header {position:static; width:100%;}
.header .header_logo {position:absolute; top:20px; left:50px; width:250px; height:90px; transform-style:preserve-3d; overflow: hidden; white-space:nowrap; z-index:10;}
.header .header_logo a {display: block;; width:100%; height:100%; background:url(../images/logo.png) no-repeat 50% 50%; background-size:cover; }

.header .header_sub {position:absolute; top:35px; right:0; display:flex; width:40%; z-index:10;  z-index:100;}
.header .header_sub div {flex:1; margin-right:9px; height:40px;}
.header .header_sub div a {display:block; text-align:center; font-size:16px; padding:11px 0;  }
.header .header_sub div.on {background-color:#e6e3db; border-top:1px solid #c8c1b0;}
.header .header_sub div ul li a {display:block; font-size:14px; padding:10px 0; margin-top:5px; background-color:#e6e3db;  }
.header .header_sub div ul li a:hover {background-color:#c8c1b0;}
.header .header_sub div ul li a:hover span.kr {display:block;}
.header .header_sub div ul li a:hover span.en {display:none;}

.header .header_sub div.header_sub_modelhouse, .header .header_sub div.header_sub_catalog {flex:1.5;}
.header .header_sub div.header_sub_reserve {flex:1.25;}

.header .header_sub ul {display:none;}
.header .header_sub ul li span.kr {display:none;}
.header .header_sub ul li:first-child {margin-top:7px;}

body:not(#index,.tables) .header .header_logo a { background:url(../images/logo_abt.png) no-repeat 50% 50%; background-size:cover;}
body:not(#index,.tables) .header .header_logo {top:10px;}
body:not(#index,.tables) .header .header_sub {top:50px;}


/* footer */
footer {background-color:#262729; color:#fff;}
footer .ft_top {height:120px; border-bottom:1px solid #e2e2e2; width:100%; position:relative;}
footer .ft_top .footerWrap, footer .ft_bottom .footerWrap  {display:flex;}
footer .ft_top .footerWrap {max-width:1500px; margin:0 auto;}
footer .ft_top .ft_logo_m {display:none;}
footer .ft_bottom {height:240px; width:100%; position:relative;}
footer .ft_bottom .footerWrap {max-width:1500px; margin:0 auto;}

footer .ft_txt {flex:1; font-size:30px; text-align:left; padding:46px 0;  padding-left:20px;}
footer .ft_menu {flex:2; display:flex;}
footer .ft_menu li {flex:1;}
footer .ft_menu li a {display:block; color:#fff; font-size:18px; padding:51px 0;}
footer .ft_menu li:nth-child(3) {flex:0.5;}

footer .ft_sns {flex:0.5; padding:50px 0;}
footer .ft_sns > div {float:left; margin:0 10px;}
footer .ft_sns > div a {display:block; text-align:right;}

footer .ft_logo {flex:1;}
footer .ft_logo a {display:block; padding:40px 0; padding-left:70px;}
footer .ft_logo a img {display:block; width:130px; height:142px;}
footer .ft_info {flex:2.5;}
footer .ft_info_menu {float:left; margin:45px 0; margin-right:80px;}
footer .ft_info_menu:last-child {margin-right:0;}
footer .ft_info_menu li {float:left; clear:both; font-size:17px; line-height:2.25;}

footer .copyright {display:block; text-align:center; padding:15px 0;}

/* swipers */
.Swipers {max-width:100%!important;overflow:hidden;}	
.Swipers .InBox {height:100vh;min-height:560px;}
.Swipers .swiper-container {height:100%;}
.Swipers .swiper-slide > div {width:100%;height:100%;transition:1s;opacity:0.2;}
.Swipers .swiper-slide > div {background-position:50% 50%;background-repeat:no-repeat;background-size:cover;}
.Swipers .swiper-slide-active > div {transition:1s;opacity:1;}
.Swipers .swiper-slide .visual_bg {position: absolute; top:0; left:0; width:100%; height:100%; opacity:1; z-index:1000;}

.Swipers .swiper-button-btns {position:absolute; display:flex; left:50%; bottom:10px; width:fit-content; height:30px; transform:translateX(-50%); z-index:15;}
.Swipers .swiper-btn {width:20px;height:20px;  z-index:10; cursor:pointer; position:relative;}
.Swipers .swiper-btn {background-size:contain; background-position:center; background-repeat:no-repeat;}
.Swipers .swiper-pagination {position:relative; margin-top:6px; margin-left:20px;} 
.Swipers .swiper-button-prev {left:0; top:50%; transform:translateY(-50%);}
.Swipers .swiper-button-next {right:0; top:50%; transform:translateY(-50%)} 
.Swipers .swiper-button-line {margin:5px 3px 0;}
.swiper-pagination-clickable .swiper-pagination-bullet {margin:0 3px;}
.Swipers .swiper-button-btns i {font-size:20px; color:#fff;}

/* index */
#index .idx_swipers {display:none; width:100%; height:100%; overflow:hidden; position:relative;}
#index .idx_swipers .swiper-view {height:100vh;}

#index .idx_main {position:relative; width:100%; height:auto;}
#index .idx_main .idx_hero_img {position:relative; z-index:1;}
#index .idx_main .idx_hero_img .idx_img_group {position:relative; width:100%; height:auto; display:flex; align-items:flex-start; flex-flow:row wrap; justify-content:space-between;}
#index .idx_main .idx_img_group .slideImg {position:relative; width:100%;}
#index .idx_main .idx_img_group .slideImg .slide_contents {height:calc(100% - 40px); padding-top:0; overflow: hidden; position: relative; width:100%;}
#index .idx_main .idx_img_group .slideImg .slide_contents .slide_img {width:100%; height:100%; position:relative; top:0; left:0;}
#index .idx_main .idx_img_group .slideImg .slide_contents .slide_img > div {background-size:cover; width:100%; height:100%;}

#index .idx_main .idx_img_group .slideImg.img1 {width:50%; height:100vh;}
#index .idx_main .idx_img_group .slideImg.img2 {width:calc(50% - 220px); height:calc(50vh + 322px); margin-top:calc(50vh - 202px); padding-bottom:40px; position:relative;}
#index .idx_main .idx_img_group .slideImg.img3 {width:calc(50% - 300px); height:calc(100vh - 200px);}
#index .idx_main .idx_img_group .slideImg.img4 {width:calc(50% + 80px); height:calc(100vh - 160px); margin:100px 0 0 120px; padding-bottom:40px;}


#index .idx_main .idx_img_group  .slide_btn {width:100%; height:40px; position:relative; padding:10px 0 0; font-size:0; text-align: left; line-height:0; letter-spacing:0;}
#index .idx_main .idx_img_group .img1 .slide_btn, .img3 .slide_btn {text-align:right;}
#index .idx_main .idx_img_group  .slide_btn .slide_btn_bullet {background-color:rgba(0, 0, 0, .1); display:inline-block; width:20px; height:1px; position: relative; margin-top:10px; margin-left:10px;}
#index .idx_main .idx_img_group  .slide_btn .slide_btn_bullet:first-child {margin-left:0;}
#index .idx_main .idx_img_group  .slide_btn .slide_btn_bullet2 {display:block; position: absolute; background-color:#fff; top:0; left:0; height:1px;}

#index .idx_main_txt {position:absolute; width:430px; height:70px; top:-100px; left:0; overflow:hidden; z-index:15;}
#index .idx_main_txt span {display: block; font-size:18px; margin-bottom:15px;}
#index .idx_main_txt strong {display: block; font-size:35px;  }

#index .idx_rooms {margin-top:180px; height:900px; padding:100px 0; position: relative;}
#index .idx_rooms::before {content:""; display:block; width:calc(100% - 220px); background-color:#f3f2e6; height:100%; position:absolute; top:0; left:0; z-index:-1;}
#index .idx_rooms .idx_rooms_img {position: relative; width:85%; height:auto; max-width:1950px; margin: 0 auto; margin-left:auto; margin-right:0; flex-flow:row nowrap; justify-content:space-between; align-items:flex-start;}
#index .idx_rooms .idx_accommodation {display:flex; width:100%; height:auto;}
#index .idx_rooms .title {padding:50px 40px 0 0; order:1; flex:0 1 calc(50% - 210px); flex-basis:calc(50% - 210px); height:800px; width:calc(50% - 210px);}
#index .idx_rooms .title span, .idx_rooms .title strong, .idx_rooms .title strong, .idx_rooms .title p {display:block;}
#index .idx_rooms .title strong {font-size:30px; margin-bottom:20px;  }
#index .idx_rooms .title > span {font-size:15px; color:#8b8b8b; margin-bottom:20px;}
#index .idx_rooms .title .txt .swiper-slide {position:absolute; top:30px; left:0; width:450px; height:250px;}
#index .idx_rooms .title .txt .swiper-slide div { transition:0.5s; position:absolute; top:0; left:0; opacity:0;}
#index .idx_rooms .title .txt .swiper-slide-active div{opacity:1;}
#index .idx_rooms .title .txt p {font-size:14px; color:#222; line-height:1.75;}
#index .idx_rooms .title .txt p > span:first-child {margin-bottom:30px;}
#index .idx_rooms .title .txt a {display:inline-block; font-size:16.5px; margin-top:70px; border-top:1px solid rgba(0,0,0,.1); color:#000; line-height:24px; padding:10px 50px 0 0; position: relative; text-decoration:none;}
#index .idx_rooms .title .txt a::before {content:""; background:#000; display:block; height:1px; position:absolute; top:-1px; left:0; transform:scaleX(0); transform-origin:left center; transition:transform .5s cubic-bezier(.19,1,.22,1); width:100%;}
#index .idx_rooms .title .txt a::after {content:""; width:31px; height:6px; display:block; position:absolute; top:19px; right:0; background:url(../images/arrow_bk.png) no-repeat 100% 100%; background-size:120px;}
#index .idx_rooms .title .txt a:hover::before {transform:scaleX(1); transform:right center;}
#index .idx_rooms .title .txt a:hover::after {animation:arrow_hover 1s cubic-bezier(.19,1,.22,1) 0s infinite; margin-right:2px; transition:0.5s;}

#index .idx_rooms .idx_acc {width:calc(50% + 210px); position:absolute; top:0; right:0; overflow:hidden; justify-content:flex-start; flex-basis:calc(50% + 210px); flex:0 1 calc(50% + 210px); flex-flow:column nowrap;}
#index .idx_rooms .idx_acc .swiper-view {height:80vh;}

#index .idx_rooms_preview {left:0; bottom:0; ; right:auto; height:auto; overflow: hidden; position:absolute; width:400px;}
#index .idx_rooms_preview .swiper-view {height:300px;}


#index .idx_special {position: relative; width:85%; height:auto; max-width:1950px; margin:200px 0 0 200px;}
#index .idx_special h3 {width:150px; height:auto; position:absolute; top:0; left:0; z-index:10;}
#index .idx_special h3 strong {display:block; font-size:30px; margin-bottom:20px;  }
#index .idx_special h3 span {display:block; font-size:15px; color:#8b8b8b;}
#index .idx_special .Swipers {position:relative; width:100%; height:auto;}
#index .idx_special .Swipers .swiper-view {position:relative; width:100%; height:auto; overflow:hidden; margin-top:100px;}
#index .idx_special .Swipers .swiper-view .swiper-wrapper {width:80%;}
#index .idx_special .Swipers .swiper-view .swiper-image .swiper-slide {width:calc(29% + 7px);}
#index .idx_special .Swipers .swiper-view .swiper-image .swiper-slide > a {display:block;}
#index .idx_special .Swipers .swiper-view .swiper-image .swiper-slide > a div {width:100%; height:600px;}
#index .idx_special .Swipers .swiper-view .swiper-image .swiper-slide > a h5::before {content:""; background-color:#444; display:block; position:absolute; width:100%; height:4px; left:0; top:0; transform:scaleX(0); transform-origin:left center; transition:transform .5s cubic-bezier(.19,1,.22,1);}
#index .idx_special .Swipers .swiper-view .swiper-image .swiper-slide > a:hover h5::before {transform:scaleX(1); transform:right center;}
#index .idx_special .Swipers .swiper-view .swiper-image .swiper-slide h5 {position:relative; padding:20px 50px 0 0; background-color:#fff;}
#index .idx_special .Swipers .swiper-view .swiper-image .swiper-slide h5 strong {display:block; font-size:20px; color:#000; margin:10px 0 20px;}
#index .idx_special .Swipers .swiper-view .swiper-image .swiper-slide h5 span {display:block; font-size:15px; color:#333; line-height:1.5;}

#index .idx_special .Swipers .swiper-button-next {position:absolute; width:55px; height:55px; right:14%; background-image:url(../images/next.png);}
#index .idx_special .Swipers .swiper-button-prev {position:absolute; width:55px; height:55px; left:0; background-image:url(../images/prev.png);}

#index .idx_vid {position:relative; display:flex; margin:200px auto 0; max-width:1950px; padding:100px 0;}
#index .idx_vid .vid_left {width:100%; flex:2; height:auto; position:relative;}
#index .idx_vid .vid_left .vid_mov {display:flex; position:relative; overflow:hidden; flex:0 1 calc(50% + 210px); flex-basis:calc(50% + 210px); flex-flow:column nowrap; justify-content:flex-start; order:1;}
#index .idx_vid .vid_left .vid_mov iframe {display:block; width:100%; height:600px;}
#index .idx_vid .vid_left .vid_mov h3 {display:block; margin-top:20px; text-align:center;}
#index .idx_vid .vid_left .vid_mov h3 strong {display:inline-block; font-size:23px;  }
#index .idx_vid .vid_left .vid_mov h3 span {display:inline-block; margin-left:20px; font-size:15px;}

#index .idx_vid .vid_right {flex:1;}
#index .idx_vid .vid_right .vid_txt {padding:50px 0 60px 40px;}
#index .idx_vid .vid_right span, .idx_vid .vid_right strong, .idx_vid .vid_right p, .idx_vid .vid_right p span {display:block;}
#index .idx_vid .vid_right .vid_txt h3 strong {font-size:30px; margin-bottom:20px;  }
#index .idx_vid .vid_right .vid_txt h3 > span {font-size:15px; color:#8b8b8b; margin-bottom:20px;}
#index .idx_vid .vid_right .vid_txt p {font-size:15px; color:#111; line-height:1.75;}
#index .idx_vid .vid_right .vid_txt p span:first-child {margin-bottom:30px;}
#index .idx_vid .vid_right .vid_img {display:block; width:550px; height:366px;}

/* about */
#about .abt_visual {position: relative; width:100%; height:100%; overflow:hidden; z-index:5;}
#about .abt_visual .Swipers {width:87%; position:relative; overflow:hidden; margin-top:150px}
#about .abt_visual .Swipers .swiper-view {height:90vh;}
#about .about_visual_title {position:absolute; top:0; right:8.5%; margin-top:150px;}
#about .about_visual_title h3 {display:block; font-size:45px; writing-mode:vertical-rl;  }

#about .abt_vid {position:relative; padding:250px 0 100px; width:100%; max-width:1920px; margin:0 auto; height:900px; overflow:hidden;}
#about .abt_vid .vid_left {width:56%; height:700px; position:relative;}
#about .abt_vid .vid_left .video {display:flex; position:relative; width:100%; height:100%; overflow:hidden; flex:0 1 calc(50% + 210px); flex-basis:calc(50% + 210px); flex-flow:column nowrap; justify-content:flex-start; order:1;}
#about .abt_vid .vid_right {position:absolute; width:37%; right:0; top:140px;}
#about .abt_vid .vid_right .vid_txt {padding:50px 0 60px;}
#about .abt_vid .vid_right span, .idx_vid .vid_right strong, .idx_vid .vid_right p, .idx_vid .vid_right p span {display:block;}
#about .abt_vid .vid_right .vid_txt h3 strong {display:block; font-size:30px; margin-bottom:20px;  }
#about .abt_vid .vid_right .vid_txt h3 > span {font-size:15px; color:#8b8b8b; margin-bottom:20px;}
#about .abt_vid .vid_right .vid_txt p {font-size:15px; color:#111; line-height:1.75;}
#about .abt_vid .vid_right .vid_txt p span  {margin-bottom:10px;}
#about .abt_vid .vid_right .vid_img {display:block; width:550px; height:366px;}

#about .abt_map {width:100%; height:100%; overflow:hidden; z-index:1; position: relative; padding:0 0 250px;}
#about .abt_map .abt_address {width:50%; height:600px; position:relative; background-color:#f3f2e6; z-index:-1;}
#about .abt_map .abt_address h3 strong, .abt_address h3 span {display:block;}
#about .abt_map .abt_address h3 {position:absolute; width:500px; top:20%; left:50%; transform:translateX(-50%);}
#about .abt_map .abt_address h3 strong {font-size:30px; margin-bottom:50px;  }
#about .abt_map .abt_address h3 span {font-size:16px; margin-bottom:25px;}
#about .abt_map .abt_address h3 span b {display:inline-block; font-weight:bold; margin-right:10px;}
#about .abt_map .abt_screen  {width:100%; max-width:1200px; margin:0 auto; margin-top:-300px;}

/* rooms */
#rooms {position:relative; width:100%; height:100%; }
#rooms .rooms_visual {position: relative; width:100%; height:100%; overflow:hidden; z-index:5;}
#rooms .rooms_visual .Swipers {width:87%; position:relative; overflow:hidden; margin-top:150px;}
#rooms .rooms_visual .Swipers .swiper-view {height:90vh;}
#rooms .rooms_visual_title {position:absolute; top:0; right:8.5%; margin-top:150px;}
#rooms .rooms_visual_title h3 {display:block; font-size:60px; writing-mode:vertical-rl;  }

#rooms .info_bg {position:absolute; width:100%; height:1050px; top:12%; right:0; background-color:#f2f1e5;}
#rooms .rooms_info {position:relative; display:flex; width:100%; max-width:1500px; height:100%; overflow:hidden; top:70px; margin:0 auto 70px;}
#rooms .rooms_info > h3 {display:block; font-size:30px; flex:0.5;  }
#rooms .rooms_info ul h3 {display:block; font-size:26px; color:#9e8b7b; margin-bottom:25px;  }
#rooms .rooms_info > ul {float:left; flex:0.75; margin-right:45px;}
#rooms .rooms_info > ul:nth-child(3) {flex:0.45;}
#rooms .rooms_info > ul:last-child {flex:1;}
#rooms .rooms_info > ul li {line-height:2.25; font-size:14px;}
#rooms .rooms_info > ul li .tl {display:inline-block; margin-right:10px; font-weight:bold; font-size:17px; text-align:left; width:100px;}

#rooms .rooms_vid {position:relative; top:170px; width:100%; max-width:1920px; margin:0 auto; height:900px; overflow:hidden;}
#rooms .rooms_vid .vid_left {width:56%; height:700px; position:relative;}
#rooms .rooms_vid .vid_left .video {display:flex; position:relative; width:100%; height:100%; overflow:hidden; flex:0 1 calc(50% + 210px); flex-basis:calc(50% + 210px); flex-flow:column nowrap; justify-content:flex-start; order:1;}
#rooms .rooms_vid .vid_right {position:absolute; width:37%; right:0; top:50px;}
#rooms .rooms_vid .vid_right .vid_txt {padding:0 0 60px;}
#rooms .rooms_vid .vid_right span, .idx_vid .vid_right strong, .idx_vid .vid_right p, .idx_vid .vid_right p span {display:block;}
#rooms .rooms_vid .vid_right .vid_txt h3 strong {display:block; font-size:30px; margin-bottom:20px;}
#rooms .rooms_vid .vid_right .vid_txt h3 > span {font-size:15px; color:#8b8b8b; margin-bottom:20px;  }
#rooms .rooms_vid .vid_right .vid_txt p {font-size:15px; color:#111; line-height:1.75;}
#rooms .rooms_vid .vid_right .vid_txt p span{margin-bottom:10px;}
#rooms .rooms_vid .vid_right .vid_img {display:block; width:550px; height:366px;}

#rooms .rooms_menu {height:900px; top:170px; position: relative; max-width:1920px; margin:0 auto 300px;}
#rooms .rooms_menu::before {content:""; display:block; width:calc(100% - 220px); background-color:#f3f2e6; height:100%; position:absolute; top:0; left:0; z-index:-1;}
#rooms .rooms_menu .rooms_menu_img {position: relative; width:85%; height:auto; margin-left:auto; margin-right:0; flex-flow:row nowrap; justify-content:space-between; align-items:flex-start;}
#rooms .rooms_menu .title {padding:50px 40px 0 0; order:1; flex:0 1 calc(50% - 210px); flex-basis:calc(50% - 210px); height:auto; width:calc(50% - 210px); height:800px; position:relative;}
#rooms .rooms_menu .title span, .rooms_menu .title strong, .rooms_menu  .title p {display:block;}
#rooms .rooms_menu .title strong {font-size:30px; margin-bottom:20px;  }
#rooms .rooms_menu .title > span {font-size:15px; color:#8b8b8b; margin-bottom:20px;}
#rooms .rooms_menu .title .txt .swiper-slide {position:absolute; top:30px; left:0; width:450px; height:250px;}
#rooms .rooms_menu .title .txt .swiper-slide div { transition:0.5s; position:absolute; top:0; left:0; opacity:0;}
#rooms .rooms_menu .title .txt .swiper-slide-active div{opacity:1;}
#rooms .rooms_menu .title .txt p {font-size:15px; color:#222; line-height:1.75;}
#rooms .rooms_menu .title .txt p > span:first-child {margin-bottom:30px;}
#rooms .rooms_menu .title .txt a {display:inline-block; font-size:16.5px; margin-top:70px; border-top:1px solid rgba(0,0,0,.1); color:#000; line-height:24px; padding:10px 50px 0 0; position: relative; text-decoration:none;}
#rooms .rooms_menu .title .txt a::before {content:""; background:#000; display:block; height:1px; position:absolute; top:-1px; left:0; transform:scaleX(0); transform-origin:left center; transition:transform .5s cubic-bezier(.19,1,.22,1); width:100%;}
#rooms .rooms_menu .title .txt a::after {content:""; width:31px; height:6px; display:block; position:absolute; top:19px; right:0; background:url(../images/arrow_bk.png) no-repeat 100% 100%; background-size:120px;}
#rooms .rooms_menu .title .txt a:hover::before {transform:scaleX(1); transform:right center;}
#rooms .rooms_menu .title .txt a:hover::after {animation:arrow_hover 1s cubic-bezier(.19,1,.22,1) 0s infinite; margin-right:2px; transition:0.5s;}



#rooms .rooms_menu .rooms_menu_swiper {width:calc(50% + 210px); position:absolute; top:100px; right:0; overflow:hidden; justify-content:flex-start; flex-basis:calc(50% + 210px); flex:0 1 calc(50% + 210px); flex-flow:column nowrap;}
#rooms .rooms_menu .rooms_menu_swiper .swiper-view {height:610px;}
#rooms .rooms_menu_preview {left:0; margin:60px auto 0 0; right:auto; height:auto; overflow: hidden; position:absolute; width:400px; bottom:0;}
#rooms .rooms_menu_preview .swiper-view {height:250px!important;}

/* special */
#special .sp_visual {position: relative; width:100%; height:100%; overflow:hidden; z-index:5;}
#special .sp_visual .wrap {float: right;; width:100%; height:100vh; position:relative; margin-top:150px;}
#special .sp_vid {width:80%; height:800px; position:absolute; right:0;}
#special .sp_visual .video {position:relative; width:100%; height:100%; overflow:hidden;}

#special .sp_visual_title {position:absolute; top:2%; left:13%; margin-top:150px;}
#special .sp_visual_title h3 {display:block; font-size:55px; writing-mode:vertical-rl;  }
#special .sp_bg {position:absolute; width:100%; height:800px; margin-top:150px; top:12%; left:0; background-color:#f2f1e5;}

#special .contents {position:relative; width:100%; max-width:1920px; height:100%; overflow:hidden; z-index:1; margin:230px auto 125px;}
#special .contents .Swiper {width:100%; height:800px; margin-top: 100px; position: relative; }	
#special .contents .Swiper .swiper-view { width: 100%; max-width:1200px; height:760px; } 
#special .contents .Swiper .swiper-container {height:100%; overflow:hidden;}
#special .contents .Swiper .swiper-slide > div {width:100%;height:100%;}
#special .contents .Swiper .swiper-slide > div {background-position:50% 50%;background-repeat:no-repeat;background-size:cover;}	
#special .contents .Swiper .swiper-pagination {display:inline-block; width:auto;; z-index:3;}
.swiper-pagination-bullet {display:inline-block; width:10px; height:10px; background-color:transparent; border-radius:50%; border:1px solid #fff; margin:0 2.5px;}
.swiper-pagination-bullet-active {background-color:#fff; border: 2px solid #ccc0ac;  width:12px; height:12px; border-radius:50%; margin-bottom:-2px!important;}
.Swiper .swiper-button-btns {position:absolute; display:flex; left:50%; bottom:10px; width:fit-content; height:30px; transform:translateX(-50%); z-index:15;}
.Swiper .swiper-btn {width:20px;height:20px;  z-index:10; cursor:pointer; position:relative;}
.Swiper .swiper-btn {background-size:contain; background-position:center; background-repeat:no-repeat;}
.Swiper .swiper-pagination {position:relative; margin-top:6px; margin-left:20px;} 
.Swiper .swiper-button-prev {left:0; top:50%; transform:translateY(-50%);}
.Swiper .swiper-button-next {right:0; top:50%; transform:translateY(-50%)} 
.Swiper .swiper-button-line {margin:5px 3px 0;}
.swiper-pagination-clickable .swiper-pagination-bullet {margin:0 3px;}
.Swiper .swiper-button-btns i {font-size:20px; color:#fff;}

#special .contents .lt .swiper-view {position:absolute; left:0;}
#special .contents .lt .swiper-view .txt {position:absolute; bottom:-60px; right:-300px; background-color:#fff; padding:50px 90px 35px 45px; z-index:10;}
#special .contents .Swiper .swiper-view .txt span {display:block; font-size:15px; margin-bottom:15px; color:#111;}
#special .contents .Swiper .swiper-view .txt strong {display:block; font-size:28px; margin-bottom:25px;}
#special .contents .Swiper .swiper-view .txt p {display:block; font-size:15px; line-height:1.25;}
#special .contents .rt .swiper-view {position:absolute;; right:0;}
#special .contents .rt .swiper-view .txt {position:absolute; bottom:-60px; left:-300px; background-color:#fff; padding:50px 90px 35px 45px; z-index:10;}

/* common  */

/* Reserve */
#reserve .frame_02 {display:none;}
#reserve .frame_02 h2 {width:250px;margin:0 auto;padding:0px 0 35px;}
#reserve .frame_02 table {width:100%;border:1px solid #e7e7e7;font-family:'돋움',Dotum!important;}
#reserve .frame_02 table tr th,
#reserve .frame_02 table tr td {border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;text-align:center;font-size:13px;color:#676767; vertical-align:middle;}
#reserve .frame_02 > div > h3 {margin-bottom:10px;}
#reserve .frame_02 ul li {padding-left:10px;font-size:12px;line-height:1.6em;color:#676767;font-family:'돋움',Dotum!important;}
#reserve .frame_02 ul li {background:url(http://gonylab2.speedgabia.com/common/li_b.gif) no-repeat left 3px;}
#reserve .frame_02 ul li span {color:#ee3939;}
#reserve .frame_02 .r_info_01 {position:relative;margin-bottom:30px;}
#reserve .frame_02 .r_info_01 h4 {text-align:left;margin-bottom:10px;}
#reserve .frame_02 .r_info_01 table {margin-bottom:20px;}
#reserve .frame_02 .r_info_01 table .room_ {background:#efefef;height:50px;}
#reserve .frame_02 .r_info_01 table > thead {line-height:1.1em;background:#f8f8f8;}
#reserve .frame_02 .r_info_01 table > thead tr th {font-weight:bold;}
#reserve .frame_02 .r_info_01 table > tbody tr td {line-height:3em; vertical-align:middle;}
#reserve .frame_02 .r_info_02 {margin:50px 0;padding-top:50px;text-align:left;} 
#reserve .frame_02 .r_info_03 {text-align:left;}
#reserve .frame_02 .r_info_03 .CNCL_COMM {margin-bottom:50px;}
#reserve .frame_02 .r_info_03 table {line-height:1.5em;margin-top:20px;}
#reserve .frame_02 .r_info_03 table > thead {background:#f2f2f2;}

#Banner                                             {position:relative;width:100%;height:60vh;min-height:450px;}
#Banner                                             {background-repeat:no-repeat;background-position:50% 50%;background-size:cover;}
#Banner:before                                      {position:absolute;top:0;left:0;width:100%;height:100%;content:"";display:block;opacity:0.5;background:#000;z-index:1;}
#Banner .InBox                                      {position:relative;width:100%;height:100%;overflow:hidden;}
#Banner .InBox .ttls                                {position:absolute;top:55%;left:5%;height:110px;margin-top:-55.5px;color:#fff;z-index:1;}
#Banner .InBox .ttls div                            {display:inline-block;width:100px;border-top:1px solid #fff;padding-top:7px;margin-right:15px;}
#Banner .InBox .ttls span                           {font-family:'linotype-didot';font-size:25px;}
#Banner .InBox .ttls span b                         {font-family:'linotype-didot';}
#Banner .InBox .ttls strong                         {display:block;font-size:75px;margin:15px 0 0 15px;letter-spacing:3px;}

/* table */
.tables .contents .InnerBox {max-width:1400px; padding:3% 0 7%;margin:0 auto;}
.tables .contents .snb {width:500px;margin:0 auto;padding:15px 0;margin-bottom:5%;overflow:hidden;}
.tables .contents .snb {border:1px solid #e8e8e8;border-right:none;border-left:none;}
.tables .contents .snb li {float:left;width:50%;background:url(../images/pv_b.gif) no-repeat right center;}
.tables .contents .snb li:last-child {background:none;}
.tables .contents .snb li a {display:block;padding:15px 0;text-align:center;font-size:17px;}
.tables .contents .snb li.active a {font-weight:bold;}

.tables .notice {width:500px;margin:25px auto 50px;text-align:center;}
.tables .notice span {font-size:15px;font-weight:500;line-height:1.75;}
.tables .notice a {display:block;padding:20px 0;margin:15px auto;width:200px;font-weight:bold;}
.tables .notice a:hover {color:#787878;}

.tables .contents .bd_menu {position:relative;max-width:1300px; margin:0 auto;}
.tables .contents .stb {position:absolute;top:110px;left:15px;overflow:hidden;z-index:100;}
.tables .contents .stb li {float:left;margin:0 5px;border:1px solid #e8e8e8;}
.tables .contents .stb li:last-child {background:none;}
.tables .contents .stb li a {display:block;padding:12.5px 15px;width:100px;text-align:center;font-size:15px;}
.tables .contents .stb li.active a {color:#fff;background:#41595e;}

.tables .contents .frame {position:relative;max-width:1300px; margin:0 auto;}
.tables .contents .frame h3 {width:98%;margin:0 auto;font-size:35px;}
.tables .contents .frame h3 strong {display:block;}
.tables .contents .frame h3 span {display:block;font-size:15px;padding:15px 0;}
.tables .contents .frame p {width:800px;margin:0 auto 5%;overflow:hidden;}
.tables .contents .frame p span {display:block;line-height:1.5;font-size:16px;float:left;width:50%;text-align:center;}
.tables .contents .frame iframe {display:block;margin-top:10px;padding-top:10px;border-top:1px solid #000;}